/*=========  Navbar  ==========*/


.nav .nav-item .nav-link {
    color: #112A46 !important;
}

.nav .nav-item.active-link {
    border-bottom: 3px #0a8bfb solid !important;
}

.nav .nav-item .nav-link.active-navbar-link {
    color: #3695eb !important;
    font-weight: 700;
}


/*=========  Section Welcome  ==========*/
.welcome-image {
    width: 100% !important;
    height: 350px !important;
    object-fit: cover;
    object-position: center left;
    border-radius: 5px;
}

/*=========  Tiny Slider  ==========*/
.tiny-image {
    width: 100% !important;
    height: 450px !important;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px;
}

.slider-background-image {

    background-color: #0a8bfb;
    background-image: url('../images/medical-images/pexels-daniel-frank-305566.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
}

.slider-button-ca:hover {
    background: white !important;

}

#custom-controls .prev:hover, #custom-controls .next:hover{
    cursor: pointer;
}

.image-overlay{
    background: #0b0b0b;
    opacity: 0.1;
    position: absolute;
    z-index: 1000;
    width: 100%;
    inset: 0;
    border-radius:5px
}


.prev-arrow-icon,.next-arrow-icon{
    width: 48px;
    height: 48px;
    font-weight: bold;
    /*color: #0a8bfb;*/

}
/*#custom-controls .prev, #custom-controls .next{*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    border: 4px solid #0a8bfb;*/
/*    border-radius: 50%;*/
/*    padding: 5px;*/
/*    background: #fff;*/
/*    margin-left: -25px;*/
/*}*/