/*=========  Navbar  ==========*/

.typography-color{
    color: #112A46 !important;
}

.typography-primary{
    color: #3695eb !important;
}

.bg-custom-primary{
    background: #3695eb !important;
}

.nav .nav-item .nav-link {
    color: #112A46 !important;
}

.nav .nav-item.active-link {
    border-bottom: 3px #3695eb solid !important;
}

.nav .nav-item .nav-link.active-navbar-link {
    color: #3695eb !important;
    font-weight: 700;
}


/*=========  Section Welcome  ==========*/
.welcome-image {
    width: 100% !important;
    height: 350px !important;
    object-fit: cover;
    object-position: center left;
    border-radius: 5px;
}

/*=========  Tiny Slider  ==========*/
.tiny-image {
    width: 100% !important;
    height: 450px !important;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px;
}

.slider-background-image {

    background-color: #0a8bfb;
    background-image: url('../images/medical-images/pexels-daniel-frank-305566.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
}

.slider-button-ca:hover {
    background: white !important;

}

#custom-controls .prev:hover, #custom-controls .next:hover {
    cursor: pointer;
}

.image-overlay {
    background: #0b0b0b;
    opacity: 0.1;
    position: absolute;
    z-index: 1000;
    width: 100%;
    inset: 0;
    border-radius: 5px
}


.prev-arrow-icon, .next-arrow-icon {
    width: 48px;
    height: 48px;
    font-weight: bold;
    /*color: #0a8bfb;*/

}

.tns-nav {
    text-align: center;
}

.tns-nav > .tns-nav-active {
    background: #999 !important;
}

.tns-nav > [aria-controls] {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}


/*=========  SCHEDULE  ==========*/
.schedule-icons {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    color: white;

}

.vertical-divider{
    width: 1px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #d9d8e5;
}


.schedule-link{
    color: inherit;
    text-decoration: none;
}

/*#8ca53b verde*/
/*#3695eb azul*/
/*#0979dc*/
.schedule-icons-container {
    background: #3695eb;
    width: 62px;
    height: 62px;
    border-radius: 5px;
}


