/*=========  Navbar  ==========*/


.nav .nav-item .nav-link {
    color: #112A46 !important;
}

.nav .nav-item.active-link {
    border-bottom: 3px #0a8bfb solid !important;
}

.nav .nav-item .nav-link.active-navbar-link {
    color: #3695eb !important;
    font-weight: 700;
}


/*=========  Section Welcome  ==========*/
.welcome-image {
    width: 100% !important;
    height: 350px !important;
    object-fit: cover;
    object-position: center left;
    border-radius: 5px;
}

/*=========  Tiny Slider  ==========*/
