@charset "UTF-8";
body {
  background: none; }

main {
  padding-top: 0;
  padding-bottom: 0;
  background: #f8f8f8; }

section {
  padding-top: 90px;
  padding-bottom: 90px; }

a:hover {
  color: inherit; }

.items-container {
  margin-top: 55px; }

.example {
  padding-top: 80px;
  padding-bottom: 80px; }

.hidden {
  display: none; }

.link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7; }

.link--mod-1 {
  display: inline-block; }
  .link--mod-1:hover {
    text-decoration: underline; }

.pos-relative {
  position: relative; }

.z-index-1 {
  z-index: 1; }

/*
* @section      Main Layout
* @description  This section holds class declarations for elements indent creation
*/
h2 + * {
  margin-top: 25px; }

/*
* @subsection   Offsets
* @description  Describes vertical indentation between the elements
*/
.offset-1 {
  margin-top: 30px; }

/*
* @subsection   Postfix
* @description  Describes instant right margin classes
*/
.postfix-1 {
  margin-right: 20px; }

.postfix-2 {
  margin-right: 10px; }

/*
* @subsection   Prefix
* @description  Describes instant right margin classes
*/
/*
* @subsection   Insets
* @description  Describes instant padding classes
*/
.inset-1 {
  padding-right: 10px; }
.inset-2 {
  padding-top: 3px; }
.inset-3 {
  padding-left: 10px; }

/*
* @section      Helpers
* @description  This section holds various helper classes for
*               conditional page styling
*/
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0; }
.clearfix:after {
  clear: both; }

.italic {
  font-style: italic; }

.float-left {
  float: left; }

.text-center {
  text-align: center; }

/*
* @subsection   Backgrounds
*/
.bg--skin-1 {
  background: #F0F0F0; }
.bg--skin-2 {
  background: #444; }
.bg--skin-3 {
  background: #2791D3; }
.bg--skin-2, .bg--skin-3 {
  color: #fff; }
  .bg--skin-2 h1, .bg--skin-2 h2, .bg--skin-2 h3, .bg--skin-2 h4, .bg--skin-2 h5, .bg--skin-2 h6,
  .bg--skin-2 .heading-1, .bg--skin-2 .heading-2, .bg--skin-2 .heading-3, .bg--skin-2 .heading-4, .bg--skin-2 .heading-5, .bg--skin-2 .heading-6, .bg--skin-3 h1, .bg--skin-3 h2, .bg--skin-3 h3, .bg--skin-3 h4, .bg--skin-3 h5, .bg--skin-3 h6,
  .bg--skin-3 .heading-1, .bg--skin-3 .heading-2, .bg--skin-3 .heading-3, .bg--skin-3 .heading-4, .bg--skin-3 .heading-5, .bg--skin-3 .heading-6 {
    color: #fff; }

/*
* @section      Components
* @description  This section holds all elements style declarations of template
*/
/*
* @subsection   Inline List
*/
.inline-list {
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  margin-bottom: -30px;
  margin-left: -30px; }
  .inline-list > li {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px; }

/*
* @subsection   link--effects
*/
.link--effect-1:before, .link--effect-1:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }
.link--effect-1:before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
      transform: translateX(20px); }
.link--effect-1:after {
  margin-left: 10px;
  content: ']';
  -ms-transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px); }
.link--effect-1:hover:before, .link--effect-1:hover:after {
  opacity: 1;
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }

.link--effect-2 {
  line-height: 44px;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .link--effect-2 span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: #1178BA;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -ms-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .link--effect-2 span:before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #28a2ee;
      content: attr(data-hover);
      -webkit-transition: background 0.3s;
              transition: background 0.3s;
      -ms-transform: rotateX(-90deg);
      -webkit-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -ms-transform-origin: 50% 0;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0; }
  .link--effect-2:hover span, .link--effect-2:focus span {
    -ms-transform: rotateX(90deg) translateY(-22px);
    -webkit-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px); }
    .link--effect-2:hover span:before, .link--effect-2:focus span:before {
      background: #28a2ee; }

html.lt-ie11 .link--effect-2 span,
html.lt-ie10 .link--effect-2 span {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
  html.lt-ie11 .link--effect-2 span:before,
  html.lt-ie10 .link--effect-2 span:before {
    display: none; }
html.lt-ie11 .link--effect-2:hover span, html.lt-ie11 .link--effect-2:focus span,
html.lt-ie10 .link--effect-2:hover span,
html.lt-ie10 .link--effect-2:focus span {
  background: #28a2ee; }

.link--effect-3 {
  padding: 8px 0; }
  .link--effect-3:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  .link--effect-3:focus:after, .link--effect-3:hover:after {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

.link--effect-4 {
  padding: 0 0 10px; }
  .link--effect-4:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #444;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  .link--effect-4:hover:after, .link--effect-4:focus:after {
    height: 5px;
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

.link--effect-5 {
  overflow: hidden;
  padding: 0 4px;
  height: 25px; }
  .link--effect-5 span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
    .link--effect-5 span:before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      font-weight: 700;
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .link--effect-5:hover span, .link--effect-5:focus span {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }

.link--effect-6 {
  padding: 10px 20px; }
  .link--effect-6:before, .link--effect-6:after {
    content: '';
    border: 3px solid #1D71A6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s; }
  .link--effect-6:after {
    border-color: #fff;
    opacity: 0;
    -ms-transform: translate(6px, -7px);
    -webkit-transform: translate(6px, -7px);
    transform: translate(6px, -7px); }
  .link--effect-6:hover:after, .link--effect-6:focus:after {
    opacity: 1;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.link--effect-7 {
  padding: 10px 0;
  border-top: 2px solid #7d7b7b;
  color: #7d7b7b;
  text-shadow: none; }
  .link--effect-7:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    max-width: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
            transition: max-width 0.5s; }
  .link--effect-7:hover, .link--effect-7:focus {
    color: #7d7b7b; }
    .link--effect-7:hover:before, .link--effect-7:focus:before {
      max-width: 100%; }

.link--effect-8:before, .link--effect-8:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2); }
.link--effect-8:after {
  width: 90px;
  height: 90px;
  border-width: 6px;
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8); }
.link--effect-8:hover:before, .link--effect-8:hover:after, .link--effect-8:focus:before, .link--effect-8:focus:after {
  opacity: 1;
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1); }

.link--effect-9 {
  -webkit-transition: color 0.3s;
          transition: color 0.3s; }
  .link--effect-9:before {
    position: absolute;
    top: 100%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 22px;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
            transition: text-shadow 0.3s, color 0.3s;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none; }
  .link--effect-9:hover, .link--effect-9:focus {
    color: #015D97; }
    .link--effect-9:hover:before, .link--effect-9:focus:before {
      color: #fff;
      text-shadow: 10px 0 #fff, -10px 0 #fff; }

html.lt-ie11 .link--effect-9:before,
html.lt-ie10 .link--effect-9:before {
  display: none; }

.link--effect-10 {
  font-weight: 700; }
  .link--effect-10:before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s; }
  .link--effect-10:hover, .link--effect-10:focus {
    color: rgba(0, 0, 0, 0.4); }
    .link--effect-10:hover:before, .link--effect-10:focus:before {
      -ms-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      opacity: 0; }

.link--effect-11 {
  padding: 0 5px;
  color: #707070;
  font-weight: 700;
  -webkit-transition: color 0.3s;
          transition: color 0.3s; }
  .link--effect-11:before, .link--effect-11:after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: #707070;
    content: '';
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none; }
  .link--effect-11:before {
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  .link--effect-11:after {
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  .link--effect-11:hover, .link--effect-11:focus {
    color: #fff; }
    .link--effect-11:hover:before, .link--effect-11:hover:after, .link--effect-11:focus:before, .link--effect-11:focus:after {
      opacity: 0.7; }
    .link--effect-11:hover:before, .link--effect-11:focus:before {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .link--effect-11:hover:after, .link--effect-11:focus:after {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.link--effect-12 {
  padding: 10px;
  color: #444;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
          transition: color 0.3s; }
  .link--effect-12:after, .link--effect-12:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2791D3;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s; }
  .link--effect-12:before {
    top: 0;
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  .link--effect-12:after {
    bottom: 0;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  .link--effect-12:hover, .link--effect-12:focus {
    color: #2791D3; }
    .link--effect-12:hover:after, .link--effect-12:hover:before, .link--effect-12:focus:after, .link--effect-12:focus:before {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px); }

.link--effect-13 {
  overflow: hidden;
  margin: 0 15px; }
  .link--effect-13 span {
    display: block;
    padding: 3px 8px;
    background: #2791D3;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  .link--effect-13:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 3px 8px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #2791D3;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -ms-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%); }
  .link--effect-13:focus span, .link--effect-13:hover span {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  .link--effect-13:focus:before, .link--effect-13:hover:before {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.link--kukuri {
  font-weight: 900;
  overflow: hidden;
  color: #D8D8D8; }
  .link--kukuri:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    right: 0;
    background: #F9F9F9;
    -ms-transform: translate3d(-101%, -50%, 0);
    -webkit-transform: translate3d(-101%, -50%, 0);
    transform: translate3d(-101%, -50%, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .link--kukuri:before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #444;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.4s 0.3s;
    transition: width 0.4s 0.3s; }
  .link--kukuri:hover {
    color: #D8D8D8; }
    .link--kukuri:hover:after {
      -ms-transform: translate3d(101%, -50%, 0);
      -webkit-transform: translate3d(101%, -50%, 0);
      transform: translate3d(101%, -50%, 0); }
    .link--kukuri:hover:before {
      width: 100%; }

html.mobile .link--kukuri:after,
html.tablet .link--kukuri:after {
  display: none; }
html.mobile .link--kukuri:hover,
html.tablet .link--kukuri:hover {
  color: #D8D8D8; }
  html.mobile .link--kukuri:hover:before,
  html.tablet .link--kukuri:hover:before {
    width: 100%; }

.link--viola {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 15px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }
  .link--viola span:before,
  .link--viola span:after, .link--viola:before, .link--viola:after {
    content: '';
    position: absolute;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s; }
  .link--viola:before, .link--viola:after {
    top: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1); }
  .link--viola:before {
    left: 0;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%; }
  .link--viola:after {
    right: 0;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%; }
  .link--viola span:before,
  .link--viola span:after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1); }
  .link--viola span:before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
        transform-origin: 0 50%; }
  .link--viola span:after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
        transform-origin: 100% 50%; }
  .link--viola:hover, .link--viola:focus {
    color: #fff; }
    .link--viola:hover:before, .link--viola:hover:after,
    .link--viola:hover span:before,
    .link--viola:hover span:after, .link--viola:focus:before, .link--viola:focus:after,
    .link--viola:focus span:before,
    .link--viola:focus span:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s; }

.link--antonio {
  position: relative;
  display: block;
  min-width: 110px;
  text-align: center;
  padding: 10px 15px;
  color: #444;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  .link--antonio:before, .link--antonio:after,
  .link--antonio span:before,
  .link--antonio span:after {
    content: '';
    position: absolute;
    background: #444;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s; }
  .link--antonio:before, .link--antonio:after {
    top: 0;
    width: 4px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1); }
  .link--antonio:before {
    left: 0;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%; }
  .link--antonio:after {
    right: 0;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%; }
  .link--antonio span:before,
  .link--antonio span:after {
    left: 0;
    width: 100%;
    height: 4px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1); }
  .link--antonio span:before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
        transform-origin: 0 50%; }
  .link--antonio span:after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
        transform-origin: 100% 50%; }
  .link--antonio:hover, .link--antonio:focus {
    color: #444;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; }
    .link--antonio:hover:before, .link--antonio:hover:after,
    .link--antonio:hover span:before,
    .link--antonio:hover span:after, .link--antonio:focus:before, .link--antonio:focus:after,
    .link--antonio:focus span:before,
    .link--antonio:focus span:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s; }
    .link--antonio:hover:after, .link--antonio:focus:after {
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .link--antonio:hover span:before, .link--antonio:focus span:before {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .link--antonio:hover span:after, .link--antonio:focus span:after {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }

.link--ariel {
  position: relative;
  display: block;
  margin: 0 1.5em;
  padding: 0.65em 0;
  text-align: center;
  color: #fff;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s; }
  .link--ariel:hover, .link--ariel:focus {
    color: #444; }
    .link--ariel:hover:before, .link--ariel:focus:before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
  .link--ariel:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #444;
    -webkit-transform: scale3d(0, 5, 1);
    transform: scale3d(0, 5, 1);
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9); }

.link--ferdiand {
  line-height: 1.15;
  position: relative;
  display: block;
  min-width: 110px;
  padding: 20px 17px;
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s
  /* left line */
  /* right line */
  /* top line */
  /* bottom line */ }
  .link--ferdiand:before, .link--ferdiand:after,
  .link--ferdiand span:before,
  .link--ferdiand span:after {
    content: '';
    position: absolute;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.44, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.44, 0.05, 0.55, 0.95); }
  .link--ferdiand:before, .link--ferdiand:after {
    top: 0;
    width: 4px;
    height: 100%;
    -webkit-transform: scale3d(0.1, 0, 1);
    transform: scale3d(0.1, 0, 1); }
  .link--ferdiand:before {
    left: 0; }
  .link--ferdiand:after {
    right: 0; }
  .link--ferdiand span:before,
  .link--ferdiand span:after {
    left: 0;
    width: 100%;
    height: 4px;
    -webkit-transform: scale3d(0, 0.1, 1);
    transform: scale3d(0, 0.1, 1); }
  .link--ferdiand span:before {
    top: 0; }
  .link--ferdiand span:after {
    bottom: 0; }
  .link--ferdiand:hover {
    color: #fff; }
    .link--ferdiand:hover:before, .link--ferdiand:hover:after,
    .link--ferdiand:hover span:before,
    .link--ferdiand:hover span:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }

.link--francisco {
  position: relative;
  overflow: hidden;
  height: 3em;
  padding: 20px 17px;
  text-align: center;
  color: #444;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .link--francisco:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    background: #2791D3;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
    -webkit-transition: -webkit-transform 0s 0.3s, opacity 0.2s;
    transition: transform 0s 0.3s, opacity 0.2s; }
  .link--francisco span {
    display: inline-block;
    pointer-events: none; }
  .link--francisco:hover {
    color: #2791D3; }
    .link--francisco:hover:before {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s, opacity 0.1s;
      transition: transform 0.3s, opacity 0.1s;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .link--francisco:hover span {
      -webkit-animation: anim-francisco 0.3s forwards;
      animation: anim-francisco 0.3s forwards; }

@-webkit-keyframes anim-francisco {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes anim-francisco {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.link--trinculo {
  position: relative;
  padding: 20px 17px;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .link--trinculo:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;
    background: #444;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    -webkit-transition: -webkit-transform 0s 0.2s, opacity 0.2s;
    transition: transform 0s 0.2s, opacity 0.2s; }
  .link--trinculo span {
    display: inline-block;
    pointer-events: none; }
  .link--trinculo:hover:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.1s;
    transition: transform 0.2s, opacity 0.1s;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .link--trinculo:hover span {
    -webkit-animation: anim-trinculo 0.6s forwards;
    animation: anim-trinculo 0.6s forwards; }

@-webkit-keyframes anim-trinculo {
  50% {
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  51% {
    opacity: 0;
    color: #444;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  100% {
    opacity: 1;
    color: #444;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes anim-trinculo {
  50% {
    opacity: 0;
    color: #929292;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  51% {
    opacity: 0;
    color: #444;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  100% {
    opacity: 1;
    color: #444;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.link--iris {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .link--iris:before, .link--iris:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;
    border: 2px solid #2791D3;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29); }
  .link--iris:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0); }
  .link--iris:after {
    right: 0;
    bottom: 0;
    border-width: 0 2px 2px 0;
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0); }
  .link--iris:hover, .link--iris:focus {
    color: #2791D3; }
    .link--iris:hover:before, .link--iris:hover:after, .link--iris:focus:before, .link--iris:focus:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

.link--juno {
  position: relative;
  color: #444;
  padding: 10px 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s
  /* top and bottom line */
  /* left and right line */ }
  .link--juno:before, .link--juno:after,
  .link--juno span:before,
  .link--juno span:after {
    content: '';
    position: absolute;
    pointer-events: none;
    opacity: 0;
    background: #2791D3;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }
  .link--juno:before, .link--juno:after {
    left: 0;
    width: 100%;
    height: 2px; }
  .link--juno:before {
    top: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0); }
  .link--juno:after {
    bottom: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  .link--juno span:before,
  .link--juno span:after {
    top: 0;
    width: 2px;
    height: 100%; }
  .link--juno span:before {
    left: 0;
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0); }
  .link--juno span:after {
    right: 0;
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0); }
  .link--juno:hover {
    color: #2791D3; }
    .link--juno:hover:before, .link--juno:hover:after,
    .link--juno:hover span:before,
    .link--juno:hover span:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

.link--mafia {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 1.25em;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center; }
  .link--mafia:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 120%;
    height: 4px;
    background: #d94f5c;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
    transform: rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s; }
  .link--mafia span {
    position: relative;
    color: #fff;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
  .link--mafia:hover:before {
    -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1); }
  .link--mafia:hover span {
    color: #333; }

.link--valentive {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s
  /* left line */
  /* right line */
  /* top line */
  /* bottom line */ }
  .link--valentive:before, .link--valentive:after,
  .link--valentive span:before,
  .link--valentive span:after {
    content: '';
    position: absolute;
    background: #2791D3;
    -webkit-transform-origin: 350% 350%;
    -ms-transform-origin: 350% 350%;
        transform-origin: 350% 350%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  .link--valentive:before, .link--valentive:after {
    top: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1); }
  .link--valentive:before {
    left: 0;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .link--valentive:after {
    right: 0;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s; }
  .link--valentive span:before,
  .link--valentive span:after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1); }
  .link--valentive span:before {
    top: 0;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .link--valentive span:after {
    bottom: 0; }
  .link--valentive:hover {
    color: #2791D3; }
    .link--valentive:hover span:before,
    .link--valentive:hover span:after, .link--valentive:hover:before, .link--valentive:hover:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }

.link--puck {
  position: relative;
  display: block;
  margin: 0 1em;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }
  .link--puck:before, .link--puck:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s; }
  .link--puck:before {
    bottom: -5px;
    height: 2px;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .link--puck:after {
    bottom: 0; }
  .link--puck:hover {
    color: #c5c5c5; }
    .link--puck:hover:before, .link--puck:hover:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
      transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s; }

.link--luce {
  position: relative;
  display: block;
  min-width: 120px;
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: color 0.6s;
  transition: color 0.6s; }
  .link--luce::before, .link--luce::after {
    content: '';
    position: absolute;
    background: #b5b5b5;
    -webkit-transition: -webkit-transform 0.25s, background .75s;
    transition: transform 0.25s, background .75s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
    transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68); }
  .link--luce span::before, .link--luce span::after {
    content: '';
    position: absolute;
    background: #b5b5b5;
    -webkit-transition: -webkit-transform 0.25s, background .75s;
    transition: transform 0.25s, background .75s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
    transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68); }
  .link--luce::before, .link--luce::after {
    top: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1); }
  .link--luce::before {
    left: 0;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%; }
  .link--luce::after {
    right: 0;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%; }
  .link--luce span::before, .link--luce span::after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1); }
  .link--luce span::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
        transform-origin: 0 50%; }
  .link--luce span::after {
    bottom: 0;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
        transform-origin: 0% 50%; }
  .link--luce span::after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .link--luce span::before {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s; }
  .link--luce:hover {
    color: #2791D3; }
    .link--luce:hover span::before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .link--luce:hover span::after, .link--luce:hover ::before {
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
    .link--luce:hover::before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .link--luce:hover::after {
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
    .link--luce:hover::before, .link--luce:hover::after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      background: #2791D3; }
    .link--luce:hover span::before, .link--luce:hover span::after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      background: #2791D3; }

.link--juiliet {
  position: relative;
  -webkit-transition: color .25s;
  transition: color .25s;
  padding: 10px 15px; }
  .link--juiliet::before, .link--juiliet::after, .link--juiliet:hover::after, .link--juiliet:hover::before {
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none; }
  .link--juiliet:before, .link--juiliet:after {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: left left;
    -ms-transform-origin: left left;
        transform-origin: left left; }
  .link--juiliet:after {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.6s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .link--juiliet:before {
    top: 93%;
    margin-left: -9px;
    border-width: 10px; }
  .link--juiliet:after, .link--juiliet:hover::after {
    top: 89%;
    margin-left: -7px;
    border-width: 8px;
    border-top-color: #444; }
  .link--juiliet span {
    padding-right: 0;
    padding-left: 0;
    color: #fff;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
    .link--juiliet span:after, .link--juiliet span:before {
      content: '';
      background: #2791D3;
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 3px;
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
      -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
      -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .link--juiliet span:after {
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s; }
  .link--juiliet:hover:before, .link--juiliet:hover:after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .link--juiliet:hover:before {
    margin-left: -9px;
    border-width: 10px;
    border-top-color: #2791D3; }
  .link--juiliet:hover span {
    color: #2791D3; }
    .link--juiliet:hover span:after, .link--juiliet:hover span:before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
    .link--juiliet:hover span:after {
      background: #2791D3; }

/*====================     Bg    ======================*/
/*
* @subsection   Backgrounds
*/
.bg-skin-1 {
  background-color: #2791D3; }

.bg-skin-1 h1, .bg-skin-1 h2, .bg-skin-1 h3, .bg-skin-1 h4, .bg-skin-1 h5, .bg-skin-1 h6, .bg-skin-1,
.bg-skin-1 a:not(.btn) {
  color: #fff; }

.bg-skin-1 a:not(.btn):hover {
  color: #fff;
  text-decoration: underline; }

.bg-skin-2 {
  background-color: #444; }

.bg-skin-2 h1, .bg-skin-2 h2, .bg-skin-2 h3, .bg-skin-2 h4, .bg-skin-2 h5, .bg-skin-2 h6, .bg-skin-2,
.bg-skin-2 a:not(.btn) {
  color: #fff; }

.bg-skin-2 a:not(.btn):hover {
  color: #fff;
  text-decoration: underline; }

.bg-skin-3 {
  background-color: #F0F0F0; }

/*# sourceMappingURL=links.css.map */